//-
   User: Evgeny Reznichenko
   Date: 06.09.13

.vcard
    .info
        img(src='http://www.gravatar.com/avatar/7e79667d39723e396cd7896a56dc3096?s=210', alt='zxcabs')

    .details
        h1 Резниченко Евгений
        .contacts
            dl
                dt email:
                dd
                    a(href="mailto:kusakyky@gmail.com") kusakyky@gmail.com
            dl
                dt GitHub:
                dd
                    a(href='https://github.com/zxcabs') github.com/zxcabs