//-
   User: Evgeny Reznichenko
   Date: 06.09.13

.vcard
    .info
        img(src='http://www.gravatar.com/avatar/7e79667d39723e396cd7896a56dc3096?s=210', alt='zxcabs')

    .details
        h3 Резниченко Евгений Анатольевич
        .contacts
            dl
                dt возраст
                dd 27 лет
            dl
                dt город
                dd
                    a(href='http://maps.yandex.ru/-/CBuQYFyy', target='_blank') Санкт-Петербург
            dl
                dt телефон
                dd
                    a#mobile(href='#') кликни
            dl
                dt email
                dd
                    a(href='mailto:kusakyky@gmail.com') kusakyky@gmail.com
            dl
                dt skype
                dd kusakyky
            dl
                dt github
                dd
                    a(href='https://github.com/zxcabs') github.com/zxcabs
            dl
                dt vk
                dd
                    a(href='https://vk.com/zxcabs') vk.com/zxcabs
            dl
                dt habrhabra
                dt
                    a(href='http://habrahabr.ru/users/zxcabs/') habrahabr.ru/users/zxcabs