//-
   User: Evgeny Reznichenko
   Date: 06.09.13

!!! 5
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='chrome=1')
        title Резниченко Евгений Анатольевич - zxcabs
        link(rel='stylesheet', href='stylesheets/styles.css')
        link(rel='stylesheet', href='stylesheets/pygment_trac.css')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //if lt IE 9
        script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    body
        .wrapper
            header
                include header
            section
                block section
        footer
            p
                small Hosted on GitHub Pages
        script(src='javascripts/scale.fix.js')