//-
   User: Evgeny Reznichenko
   Date: 06.09.13

extends common/layout

block section
    :markdown
        ## О себе
        Родился в городе [Новой Уренгой](http://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D0%B2%D1%8B%D0%B9_%D0%A3%D1%80%D0%B5%D0%BD%D0%B3%D0%BE%D0%B9).
        С появлением в доме компьютера увлекался [3DMax'ом](http://www.autodesk.ru/products/autodesk-3ds-max/overview). При подготовке к школьным выпускным экзаменам открыл у себя любовь к программированию.
        В университете программирование было как хобби и ограничивалось лабораторными работами в рамках обучения и созданием простых игр на DXDraw.
        На первой работе окончательно принял решение стать разработчиком.

        В настоящее время работаю в компании [ООО “Эльбанко”](http://elbanco.ru) и являюсь сооснователем магазина [“Чемоданшоп”](https://vk.com/chemodanshop).

        ## Навыки
        - JavaScript - три года на платформе [nodejs](http://nodejs.org)
        - HTML, CSS - не самая сильная сторона, готов развиваться
        - JS frameworks (jQuery, knockout, Spine) - плагины/singl page app
        - Nodejs - любимая платформа
        - Delphi, C/C++, PHP - знаком с студенческой поры
        - MySQL, MongoDB, Redis - основные БД
        - Linux - куда ж без него и консоли. Знаю как выйти из vi :)
        - Git - использую повседневно ([GitHub](https://github.io), [Bitbucket](https://bitbucket.org))
        - BDD - стараюсь применять в работе с помощью [Mocha](http://visionmedia.github.io/mocha/)
        - jade, ejs - шаблонитизаторы с которыми работаю постоянно
        - WebStorm - основная IDE, но не стесняюсь пользоваться блокнотом
        - Самоорганизация рабочего процесса, формализация требований

        ## Опыт работы
        ### с сентября 2013 - по настроящее время
        _[topface](http://topface.com/), инженер-программист_
        
        ### с февраля 2013 - по настоящее время
        _“Чемоданшоп”, сооснователь, отвечаю за ИТ_

        На текущем этапе полным ходом (хоть и медленно) идет разработка каталога товаров магазина.

        _Технологии:_
        nodejs, jquery, bootstrap, mongodb, gridfs

        ### с апреля 2011 - сентябрь 2013
        _ООО “Эльбанко”, инженер-программист_

        Первым проектом компании был [Интернет-банк](http://elbanco.ru) для физических/юридических лиц. В рамках этого проекта в мои обязанности входило:

        - Разработка серверной части с нуля (бизнес логика, БД, взаимодействие с внешними сервисами)
        - Разработка клиентской части (кроме верстки)
        - Написание тестов для серверной части
        - Создание архитектуры автоматического тестирования и интеграции
        - Администрирование серверов разработки и продакшена
        - В рамках этого же проекта была попытка переноса нашего интерфейса для работы с другими банками используя [XULRunner](http://ru.wikipedia.org/wiki/XULRunner)

        _Технологии:_
        nodejs, jquery, Spine(в последствии был заменен на knockout), mongo

        На данный момент компания осуществляет развитие и поддержку двух проектов для фирм занимающихся [арендой техники](http://promtexspb.ru) и [продажей запчастей](http://part-on.ru).
        В мои обязанности входит:

        - Разработка с нуля
        - Полный цикл разрабоки и внедрения требований заказчика
        - Администрирование серверов

        В рамках текущих проектов было осуществленно:

        - Синхронизация данных по с 1С
        - Реализованы механизмы сбора информации с внешних сайтов
        - Была проведена работа по реверс-инжинирингу структуры БД MSSQL каталога техники и портирование ее на сайт
        - Остальные необходимые части веб сервисов (Регистрация пользователей, статистика запросов/заказов и пр)

        _Техологии:_
        nodejs, jquery, mysql

        ### Июль 2008 - февраль  2010
        _ЗАО “НАВИС”, системный администратор_
        #### Обязанности:
        - Администрирование сети на базе Microsoft ActiveDirectory, антивирусной сети с централизованным управлением и обновлением вирусных баз;
        - мониторинг работы сети, сетевых служб и серверов.
        - Обеспечение работоспособности офисной техники.
        - Техническая поддержка работников компании.

        ## Заключение
        Хочу работать в команде.

        С удовольствием делюсь опытом и подсказываю начинающим разработчикам в nodejs на [форуме](http://forum.nodejs.ru/).

        Иногда пишу на [хабре](http://habrahabr.ru/users/zxcabs/topics/).

        Когда нибудь открою совою геймдев компанию с блекджеком и ... (ну вы поняли :))
